<center>
	<h1>Current Weather of <b>{{city}}</b><h1>
	{{> menu}}
	</br>
	<form id='cityForm' style='font-size: 15pt;' method="post">
		<input name='city' type='textbox' placeholder='Ville' />
		<button id="search" type="submit" >Go</button>
	</form>
	<div style='font-size: 15pt; width: 100%'>
		<div id='dataTraitees'>
			<p>
				<b>Données traitées</b>
			</p>
		</div>
		<div id='jsonTraitees'>
			<p>
				<b>JSON</b>
			</p>
		</div>
	</div>
</center>
<div style='width: 100%'>
	<div id='dataTraitees'>
		<p>
			Id : {{data.id}}
			</br>
			Ville : {{data.name}}
			</br>
			Pays : {{data.sys.country}}
			</br></br>
			<u>Coordonnées</u>
			</br>
			- Longitude : {{data.coord.lon}} </br>
			- Latitude : {{data.coord.lat}} </br>
			</br>
			Humidité : {{data.main.humidity}} %
			</br>
			Pression : {{data.main.pressure}}
			</br></br>
			<u>Vent</u>
			</br>
			- Vitesse : {{data.wind.speed}} </br>
			- Degré : {{data.wind.deg}}
			</br>
		</p>
	</div>
	<div id='jsonTraitees'>
		<p>
			{{json}}
		</p>
	</div>
</div>